*{
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
}
@font-face{
  font-family: my-font;
  src: url(hand-writing.ttf);
}
:root{
  --color-1: #a13c02;
  --color-2: #f0cc2e;
  --color-3: #fae7e1;
  --color-4: #fae7e1;
  --f-1: #f79036;
  --f-2: #a13c02;
  --f-3: #826449;
  --box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);
}

                                /*first section start*/

.first-section{
 background-image: url(image/pic-0.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: right;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  position: relative;
  z-index: -100;
}



.first-section h1{
  font-family: my-font;
  transition: 3s all;
   text-align: center;
    margin: 110px 0px 180px 200px;
}
.first-section h1 .spn1{
  color: var(--f-1);
  font-size:100px;
}
.first-section h1 .spn2{
  color: var(--f-2);
  font-size:80px;
}
.first-section h1 .spn3{
  color: var(--f-3);
  font-size:80px;
}

.first-section .logo{
  width: 150px;
  height: auto;
}



                                /*first section end*/




                              /*second section start*/


.second-section{
  padding-top: 50px;
  position: relative;
z-index: -30;
  background: var(--color-1);
  padding-bottom: 100px;
}

.second-section .side1{
 left: -3vw; 
  width: 25vw;
  height: auto;
  position: absolute;
  float: left;
  z-index: -20;
  transition: 3s;
}
.second-section .side1:hover{
  transform: rotate(180deg);
  transition: 3s;
  position: absolute;
}


.second-section h1{
  text-align: center;
  font-family: my-font;
  font-size: 5rem;
  color: var(--f-1);
}

.second-section .box-container{
margin-top: 50px;
}

.second-section .box{
  margin-top: 20px;
  text-align: center;
  width: 450px;
  height: auto;
}

.second-section .box img{
  box-shadow:var(--box-shadow); 
 
}

.second-section .box h2{
   text-align: center;
  font-family: my-font;
  font-size: 3rem;
  color: #f79036;
}

.second-section .box p{
  color: white;
  font-family: my-font;
  font-size: 20px;
}

.second-section .box-container2{
  padding: 0;
}

.second-section .box-container2 .side2{
  float: left;
  margin-left: -78%;
  margin-top: 24rem;
  position: absolute;
  z-index: -20;
width: 15vw;
height: auto;
transition: 3s all;
}

.second-section .box-container2 .box-1{
  padding: 0;
  margin-top: 50px;
width: 998px;
}
.second-section .box-container2 .box-1 img{
  width: 998px;
}

.second-section .box-container2 .box-1 h2{
 text-align: center;
  font-family: my-font;
  font-size: 4rem;
  color: var(--f-1);

}
.second-section .box-container2 .box-1 p{
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: my-font;
}


.second-section .box-container2 .box-1 .scince-pic{
  padding: 0;
  box-shadow: var(--box-shadow);
   
}


.second-section::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1.60vh;
  right: 0;
  background-repeat: repeat;
  height: 25px;
  background-size: 20px 20px;
  background-image:
   radial-gradient(circle at 10px -5px, transparent 12px, var(--color-1) 13px);

}

.second-section::after{
  content: "";
  position: absolute;
  left: 0;
  top: -2.40vh;
  right: 0;
  background-repeat: repeat;
  height: 25px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, var(--color-1) 12px, transparent 13px);
}


                                        /*second section end*/


                                        /*third section start*/



.third-section{
  background: var(--color-2);
  position: relative;
  padding-bottom: 50px;

}
.third-section .box-container{
   justify-content: center;
}
.third-section .box-container .box{
background: var(--color-1);
justify-content: center;
  text-align: center;
  margin: 10px 10px;
  width: 315px;
  height: auto;
}

.third-section .box-container .box img{
  margin:15px 0px;
}

.third-section h1{
text-align: center;
  font-family: my-font;
  font-size: 5rem;
  color: #fff;
}
.third-section .box-container .box h2{
   text-align: center;
  font-family: my-font;
  font-size: 3rem;
  color: var(--f-1);
}
.third-section .box-container .box p{
  color: white;
  text-align: center;
  font-family: my-font;
  font-size: 20px;
}

.third-section::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1.50vh;
  right: 0;
  background-repeat: repeat;
  height: 20px;
  background-size: 20px 20px;
  background-image:
   radial-gradient(circle at 10px -5px, transparent 12px, var(--color-2) 13px);
}

.third-section::after{
  content: "";
  position: absolute;
  left: 0;
  top: -2.20vh;
  right: 0;
  background-repeat: repeat;
  height: 25px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, var(--color-2) 12px, transparent 13px);
}


/*third section end*/


                                      /*fourth section start*/

.fourth-section{
  justify-content: center;
  text-align: center;
  background: var(--color-3);
  position: relative;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 50px;
}
.fourth-section .side3{
   float: right;
   padding: 0;
  margin-right: 0;
  margin-top: 12rem;
  position: relative;
  z-index: -20;
width: 12rem;
height: auto;
transition: 3s;
}
.fourth-section .side3:hover{
  transform: rotateX(270deg);
}
.fourth-section .box-container{
justify-content: center;
  margin-top: 50px;
  width: 72vw;
  height: auto;
}
.fourth-section h1{
  margin-top: 50px;
  font-family: my-font;
  font-size: 3rem;
  color: var(--f-3);
  z-index: -19;
  position: relative;
}
.fourth-section .box-container .box1{
  background: #08cc7e;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  text-align: left;
font-family: my-font;
}
.fourth-section .box-container .box1 img{
   margin: 10px 0px;
}
.fourth-section .box-container .box2{
  background: var(--color-1);
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  text-align: left;
  font-family: my-font;
}
.fourth-section .box-container .box2 img{
  margin: 10px 0px;
}



.fourth-section::before{
  content: "";
  position: absolute;
  left: 0;
  top: -1.50vh;
  right: 0;
  background-repeat: repeat;
  height: 20px;
  background-size: 20px 20px;
  background-image:
   radial-gradient(circle at 10px -5px, transparent 12px, var(--color-3) 13px);
}

.fourth-section::after{
  content: "";
  position: absolute;
  left: 0;
  top: -2.20vh;
  right: 0;
  background-repeat: repeat;
  height: 25px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, var(--color-3) 12px, transparent 13px);
}
/*fourth section end*/




                                      /*media query work for all sections*/
 
 @media screen and (max-width: 988px) {

.second-section .side1{
 top: 2vw;
  width: 30vw;
 }  
.fourth-section .side3{
  margin-left: -4rem;
  width: 14vw;
}

.second-section .box-container2 .side2{
  margin-left: -85%;
}
 }


 @media screen and (max-width: 500px) {
  
             
.first-section h1, .second-section h1, .third-section h1, .fourth-section h1{
  font-size: 55px;

}
.first-section h1{
  margin: 150px 0px 0px 30px;
  }

 
 
 .second-section .side1{
  left: -6vw;
  top: 40px;
  width: 45vw;
 }                    
.second-section .box-container .box h2{
font-size: 45px;
  }
  .second-section .box-container .box p{
    font-size: 20px;
     text-shadow: 1px 2px 1px 2px black;
  }
  
.second-section .box-container2 .box-1 h2{
  font-size: 45px;
}
.second-section .box-container2 .box-1 p{
  font-size: 20px;
}

.second-section .box-container2 .side2{
top: 39%;
 margin-left: -70%;

}
.second-section .box-container2 .side2:hover{
  top: 54%;

 
}

  .fourth-section .side3{
     float: right;
  margin-left: 1rem;
  margin-top: -2rem;
  position: absolute;
  z-index: -20;
width: 5rem;
height: auto;
transition: 3s;
}
.fourth-section .side3:hover{
  margin-top: -8rem;
  transition: 3s ;
  z-index: -19;
  position: absolute;
  }
}
}

                 /*fourth-section*/ 


                                     